h2{
    
    font-size: 40px;
}
.p1{
    position: absolute;
    right: 5%;
    top: 100px;
    font-size: 20px;
    
}

.dl{
width: 10%;
height: 30px;
margin-bottom: 20px;
}


.big_container{
    border: 3px solid rgb(11, 8, 8);
    width: 60%;
    height: 100%;
    
    background-color: rgb(118, 98, 98);
   
}
.screen{
background-color: white;
min-height: 30px ;
height: 60%;
width: 80%;
border: 3px solid black;
border-radius: 20px;
margin: auto;
padding: 3%;
word-wrap: break-word; 
font-size: larger;


}
.screen1{
    background-color: white;
    min-height: 30px ;
    height: 60%;
    width: 80%;
    border: 3px solid black;
    border-radius: 20px;
    margin: auto;
    padding: 3%;
    word-wrap: break-word; 
    font-size: larger;
    margin-top: 10px ;
    
    
    }
.presses{
margin-top:7% ;
display: flex;
flex-wrap:wrap ;
justify-content: center;

}
.press{
    color: white;
background-color: black;
width: 15%;
height: 60px;
border: 3px solid white;
margin:3% ;
font-size:100% ;
padding: auto;

}
.equal{
    width:37% ;
    
    margin: 3%;
   color: white;
    background-color: black;
    text-align: center;
    font-size:  100% ;
}
.op:hover{
    background-color: rgb(88, 88, 213);
}
.op1:hover{
    background-color:aqua ;
}
.op2:hover{
    background-color: yellow;
}